<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="keywords" content="Punk Goes, Punk Goes Pop, Punk Goes Pop vol 6, Fearless Records">
    <meta name="description" content="Punk Goes Pop vol 6 Official Album Stream">
    <meta property='og:locale' content='en_us' />
    <meta property='og:title' content="Punk Goes Pop" />
    <meta property='og:description' content="Punk Goes Pop vol 6 Official Album Stream" />
    <meta property='og:site_name' content="Punk Goes Pop Volume 6" />
    <meta property='og:type' content='article' />
    <meta property='og:image' content='https://s3.amazonaws.com/myfangate.com/punkgoespop6/share.jpg' />
    <meta name="viewport" content="width=1170, maximum-scale=1" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Punk Goes Pop 6" %></title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "normalize", "all" %>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial "convo" %>
    <%= partial "footer" %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
