<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1170, maximum-scale=1" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Punk Goes Pop 6" %></title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "normalize", "all" %>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial "convo" %>
    <%= partial "footer" %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
